body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

//.well h1 {
//    color: #ee4444;
//    font-size: 1.3em;
//}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}
/*
.lang-wrapper {
    text-align: right;
    line-height: 2em;
}
*/

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800;
}

figcaption {
    display: block;
    margin: auto;
    text-align: center;
	padding: 0.5em 1.0em 2.0em;
}
