---
layout: default
---

<div class="well">
    <h1>Sobre mim ... </h1>
    <p> Gosto de diferentes tipos de atividades como programar em diferentes linguagens de programação, aprender a tocar violão, construir protótipos com Arduino, jogar video games, e correr pela USP nos finais de semana. Meu sotaque sulista é proveniente de minha cidade natal, Blumenau-SC, famosa por sua cultura alemã. A primeira "linguagem" em que programei foi VisualG (http://www.apoioinformatica.inf.br/produtos/visualg) mas considero que minha linguagem de programação materna é Java. Enquanto aprendia Java procurei conhecer um pouco mais sobre a SUN e sua filosofia de empowerment o que me motivou a seguir carreira na área de TI. Hoje meu sonho / ambição é fazer um programa de pós-graduação na Stanford University.
     </p>

Entre em contato comigo pelo e-mail: {{ site.email }}
</div>
