---
layout: default
---

<div class="col-md-9">
  <h1>Postagens Recentes</h1>
  {% for post in site.posts limit:3 %}

      <a href="{{ site.baseurl }}{{ post.url }}">
          <h3>{{ post.title }}</h3>
      </a>
      <p class="blogdate">{{ post.date | date: "%d %B %Y" }}</p> 
      <div>{{ post.content |truncatehtml | truncatewords: 60 }}</div>

  {% endfor %}
</div>

