---
layout: default
---

<div class="col-md-9">
  <h1>MAC0499 - Trabalho de Formatura Supervisionado</h1>
      <!--<p class="blogdate">{{ post_proposta.date | date: "%d %B %Y" }}</p> -->
      <!--<div>{{ post_proposta.content }}</div>-->
      <p>
      Página destinada à disciplina MAC0499 - Trabalho de Formatura Supervisionado do IME-USP.
      </p>
      <p>
      A proposta de TCC (Trabalho de Conclusão de Curso) com escopo ajustado:
      </p>
      <a href="https://gitlab.com/Marcelosc/mac0499-proposta/blob/master/PropostaV2/Proposta-Marcelo.pdf">Proposta-TCC-Marcelo-Schmitt</a>
      <br/>
      <br/>
      <br/>
      <br/>
      <p>A proposta inicial permanece disponível para referência e pode ser consultada no link abaixo.</p>
      <a href="{{ site.baseurl }}/assets/pdf/Proposta-Marcelo.pdf">Proposta-TCC-antiga</a>
      <br/>
      <br/>
      <p>A monografia com do trabalho pode ser vista no link abaixo.</p>
      <a href="{{ site.baseurl }}/assets/pdf/monografia-marcelo.pdf">Monografia-TCC-Marcelo-Schmitt</a>
      <br/>
      <br/>
      <p>O repositório com o histórico de desenvolvimento da monografia está em:</p>
      <a href="https://gitlab.com/Marcelosc/modelo-latex">Repositório da monografia</a>
</div>
