<div class="sidebar well">
{{ site.description }}
</div>
<!--{% assign posts=site.posts | where:"lang", page.lang %}-->
{% assign posts=site.posts %}
<div class="sidebar well">
    <h1>Postagens Recentes</h1>
    <ul>
        {% for post in posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<!--
<div class="sidebar well">
{% include links-list.html %}
</div>
-->
